---
---

.background {
  position: relative;
  background: var(--background);
  color: var(--text);
  z-index: 1;
}

.background:before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: var(--image);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: 0.60;  // Default opacity
  z-index: -1;
}

// Header - different opacity
header.background:before {
  opacity: 0;  // Lighter for header (30%)
}

header[data-big].background:before {
  opacity: 0.20;  // Lighter for header (30%)
}

// Footer - different opacity
footer.background:before {
  opacity: 0.3;  // Darker for footer (80%)
}