.background {
  position: relative;
  background: var(--background);
  color: var(--text);
  z-index: 1; }

.background:before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: var(--image);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: 0.60;
  z-index: -1; }

header.background:before {
  opacity: 0; }

header[data-big].background:before {
  opacity: 0.20; }

footer.background:before {
  opacity: 0.3; }
