{% assign button = include %}
{% assign button = button | hash_default: site.data.types[include.type] %}

{% if button.link or button.icon or button.text %}
  {% comment %} Replace $VALUE in button.link template with actual value {% endcomment %}
  {% assign processed_link = button.link | replace: "$VALUE", include.link %}
  
  {% comment %} Only use relative_url if link is not absolute or special {% endcomment %}
  {% if processed_link contains "://" or processed_link contains "mailto:" or processed_link contains "tel:" %}
    {% assign final_link = processed_link %}
  {% else %}
    {% assign final_link = processed_link | relative_url %}
  {% endif %}
  
  <div class="button-wrapper">
    <a
      class="button"
      href="{{ final_link | uri_escape }}"
      {% if button.tooltip %}
        data-tooltip="{{ button.tooltip | xml_escape }}"
      {% endif %}
      data-style="{{ include.style }}"
      {% if include.flip %}
        data-flip
      {% endif %}
      aria-label="{{ button.tooltip | default: button.icon | default: "button" | regex_strip }}"
    >
      {% include icon.html icon=button.icon %}
      {% if button.text and button.text != "" %}
        <span>{{ button.text }}</span>
      {% endif %}
    </a>
  </div>
{% endif %}