{% assign button = include %}
{% assign button = button | hash_default: site.data.types[include.type] %}

{% if button.link or button.icon or button.text %}
  {% assign raw = button.link | default: "" %}

  {%- if raw == "" -%}
    {%- assign href = "" -%}
  {%- elsif raw contains '://' or raw contains 'mailto:' -%}
    {%- assign href = raw -%}
  {%- else -%}
    {%- assign href = raw | relative_url -%}
  {%- endif -%}

  <div class="button-wrapper">
    {% if href != "" %}
      <a
        class="button"
        href="{{ href | uri_escape }}"
        {% if button.tooltip %}
          data-tooltip="{{ button.tooltip | xml_escape }}"
        {% endif %}
        data-style="{{ include.style }}"
        {% if include.flip %}
          data-flip
        {% endif %}
        aria-label="{{ button.tooltip | default: button.icon | default: "button" | regex_strip }}"
      >
    {% else %}
      <a class="button" tabindex="-1" aria-hidden="true">
    {% endif %}
        {% include icon.html icon=button.icon %}
        {% if button.text and button.text != "" %}
          <span>{{ button.text }}</span>
        {% endif %}
      </a>
  </div>
{% endif %}
