{% if include.lookup %}
  {% assign member = site.members 
    | where_exp: "member", "member.slug == include.lookup"
    | first
  %}
{% else %}
  {% assign member = include %}
{% endif %}

{% assign type = site.data.types[member.role] %}

<div class="portrait-wrapper">
  <a
    {% if page.slug != member.slug %}
      href=""
    {% endif %}
    class="portrait"
    data-style="{{ include.style }}"
    aria-label="{{ member.name | default: "member link" | regex_strip }}"
  >
    <!-- {% if type %}
      {% include icon.html icon=type.icon %}
    {% endif %} -->

    {% if member.country %}
      {% if member.country.size > 1 %}
        {% for country in member.country %}
         <i class="icon">
          <span class="fi fi-{{ country | strip | downcase }}"></span>
          </i>
        {% endfor %}
      {% else %}
       <i class="icon">
        <span class="fi fi-{{ member.country | downcase }}"></span>
        </i>
      {% endif %}
    {% else %}
      <i class="icon fas fa-globe"></i>
    {% endif %}

    <img
      src="{{ member.image | relative_url | uri_escape }}"
      class="portrait-image portrait-tiny]"
      alt="member portrait"
      loading="lazy"
      {% include fallback.html %}
    >

    {% if member.name %}
      <span class="portrait-name">
        {{ member.name }}
      </span>
    {% endif %}

    {% if member.description or type %}
      <span class="portrait-description">
        {{ member.description | default: type.description }}
      </span>
    {% endif %}

    {% if member.affiliation %}
      <span class="portrait-affiliation">
        {{ member.affiliation }}
      </span>
    {% endif %}
  </a>
</div>

