<!-- third party styles -->
<link 
  href="https://cdn.jsdelivr.net/gh/StylishThemes/Syntax-Themes/pygments/css-github/pygments-tomorrow-night-eighties.css"
  rel="stylesheet"
/>

<link 
  href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.2.3/css/flag-icons.min.css"
  rel="stylesheet"
/>

<!-- include all sass in _styles folder (compiled to .css) -->
{% for page in site.pages %}
  {% if page.url contains '/_styles' and page.path contains '.scss' %}
    <link
      href="{{ page.path | replace: '.scss', '.css' | relative_url }}"
      rel="stylesheet"
    />
  {% endif %}
{% endfor %}

<!-- include all css in _styles folder -->
{% for file in site.static_files %}
  {% if file.path contains '/_styles' and file.path contains '.css' %}
    <link href="{{ file.path | relative_url }}" rel="stylesheet" />
  {% endif %}
{% endfor %}
